*{
    padding: 0;
    margin: 0;
}

.header{
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.header h1{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    margin-top: 10px;
}

.list1 ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin-top: 15px;
    color: rgb(40, 118, 40);
}

.btn{
    gap: 20px;
    margin-top: 10px;
    margin-right: 20px;

}
.login{
    background-color: rgb(40, 118, 40);
    font-size: 1em;  
    padding: 3px 10px;
    color: white;
    border: none;
    border-radius: 3px;
    margin-right: 8px;
}
.signup{
    background-color: white;
    font-size: 1em;  
    padding: 3px 10px;
    color: rgb(40, 118, 40);
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    border-radius: 3px;
}

.back{
    background: linear-gradient(  rgba(255,0,0,0.5) , rgba(18, 18, 198, 0.5)) , url(./images/assets/assets/image\ 1.png);
    height: 480px;
    background-size: cover;
    background-position: center;

}
.back h1{
    font-size: 60px;
    position: absolute;
    left: 400px;
    bottom: 180px;
    text-align: center;
    color: aliceblue;
    
}
.back p{
    position: absolute;
    left: 450px;
    bottom: 120px;
    text-align: center;
    color: aliceblue;
}
.btn1{
    position: absolute;
    left: 600px;
    bottom: 80px;
    text-align: center;
    color: aliceblue;
}
.g{
    background-color: rgb(40, 118, 40);
    margin-right: 10px;
    padding: 5px 15px;
    color: white;
    border-radius: 10px;
}
.l{
    background-color: transparent;
    padding: 5px 15px;
    color: white;
    border-radius: 10px;

}


.box1{
    background-color: rgb(207, 145, 32);
    width: 180px;
    height: 180px;
    border-radius: 20px;
    margin-top: 80px;
}
.box1 img{
  margin-left: 68px;
  margin-top: 18px;
}
.box1 h1{
    margin-left: 0px;
    font-size: 1.5em;
    text-align: center;
    color: black;
    margin-top: 15px;
   
  }

.container-1{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    justify-content: center;
   margin-top: 30px;
    height: 350px;
    margin-top: 30px;
}
.qoral{
    margin: 20px;
    text-align: center;
}
.qoral h1 {
    font-size: 4em;
    color: black;
    text-align: center;
}
.qoral span{
    color: orange;
}

.qoral p{
    margin-top: -40px;
    font-size: 1em;
    color: black;
    margin-top: 20px;
}

.container-2{
    height: 700px;
    background-color: rgb(197, 169, 133);

}

.qoral-1{
    margin: 20px;
    text-align: center;
    margin-top: 10PX;
}
.qoral-1 h1 {
    font-size: 4em;
    color: black;
    text-align: center;
}
.qoral-1 span{
    color: white;
}

.qoral-1 p{
    margin-top: -40px;
    font-size: 1em;
    color: black;
    margin-top: 20px;
}

.see{
    margin-top: 60px;
    margin-left: 600px;
}

.box{
    /* background-color: rgb(197, 169, 133);
    height: 100vh; */
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.a{
    background-color: rgb(199, 199, 205);
    width: 250px;
    height: 420px;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 40px;
    margin-left: 20px;
}
.a img{
    width: 100px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 20px; 
}
.a h1{
    color: black;
    margin-top: 20px;
    margin-left: 90px;
}
.a p{
    color: black;
    text-align: center;
    margin-top: 20px;
}

.b{
    background-color: rgb(199, 199, 205);
    width: 250px;
    height: 420px;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 40px;
    margin-left: 20px;
}
.b img{
    width: 100px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 20px; 
}
.b h1{
    color: black;
    margin-top: 20px;
    margin-left: 90px;
}
.b p{
    color: black;
    text-align: center;
    margin-top: 20px;
}
.c{
    background-color: rgb(199, 199, 205);
    width: 250px;
    height: 420px;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 40px;
    margin-left: 20px;
}
.c img{
    width: 100px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 20px; 
}
.c h1{
    color: black;
    margin-top: 20px;
    margin-left: 60px;
}
.c p{
    color: black;
    text-align: center;
    margin-top: 20px;
}
.d{
    background-color: rgb(199, 199, 205);
    width: 250px;
    height: 420px;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 40px;
    margin-left: 20px;
}
.d img{
    width: 100px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 20px; 
}
.d h1{
    color: black;
    margin-top: 20px;
    margin-left: 70px;
}
.d p{
    color: black;
    text-align: center;
    margin-top: 20px;
}

.container-3{
    background-color: rgb(245, 245, 245);
    display: flex;
    gap: 30px;
    height: 500px;
}
.box3 img{
    width: 500px;
    position: relative;
}
.box3 p{
    color: rgb(40, 118, 40);
    background-color: white;
    padding: 8px 18px;
    position: absolute;
    right: 200px;
    margin-top: -90px;
    border-radius: 10px;
   

}

.box2 h1{
    justify-content: left;
    margin-top: 30px;
    margin-left: 100px;
}
.box2 p{
    justify-content: left;
    margin-top: 30px;
    margin-left: 100px;

}
.box2 h1{
    color: rgb(40, 118, 40);
    font-size: 40px;
    font-weight: 800;
    width: 300px;
}
.box2 p{
    color: rgb(21, 112, 82);
}
.btn2{
    background-color: rgb(21, 112, 82);
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    justify-content: left;
    margin-top: 30px;
    margin-left: 100px;
}

.backg{
    background: linear-gradient(  rgba(255,0,0,0.5) , rgba(18, 18, 198, 0.5)) , url(./images/assets/assets/Rectangle\ 4.png);
    height: 350px;
    background-size: cover;
}
.backg h1{
    color: white;
    margin-left: 70px;
    padding-top: 40px;
    font-size: 50px;
}
.btn3{
    margin-top: 25px;
    margin-left: 70px;
}
.m{
    background-color: rgb(21, 112, 82);
    padding: 5px 12px;
    color: white;
    border-radius: 5px;
}
.n{
    background-color: transparent;
    border: 1px solid white;
    padding: 5px 12px;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
}

.container-4{
    background-color: rgb(43, 101, 101);
    height: 820px;
}
.box4{
    display: flex;
    gap: 100px;
    margin-top: 50px;
}
.box5 img{
    width: 300px;
    margin-left: 30px;
}
.box5 h1{
    margin-left: 30px;
    color: white;
    margin-top: 15px;
}
.box5 p{
    margin-left: 30px;
    color: white;
    width: 300px;
    margin-top: 15px;
}
.seen{
    margin-top: 20px;
    margin-left: 30px;
}
.se{
    color: white;
}

.container-5{
    height: 500px;
    background-color: antiquewhite;
}

.box6{
    display: flex;
    gap: 60px;
    justify-content: center;
}

.x{
    margin-top: 105px;
    margin-right: 20px;
}
.z{
    margin-top: 105px;
    margin-left: 20px;
}

.y{
    width: 550px;
    background-color: cadetblue;
    height: 250px;
    border-radius: 20px;
    display: flex;
    gap: 20px;
}
.sawir img{
    width: 180px;
    margin-top: 35px;
    margin-left: 40px;
}
.xidigo{
    color: rgb(246, 246, 35);
    margin-top: 25px;
    margin-left: 30px;
}

.container-6{
    height: 550px;
    display: flex;
    gap: 200px;
}
.box7{
    background-color: rgb(43, 101, 101);
    width: 400px;
    height: 450px;
    border-radius: 20px;
    margin-top: 30px;
}
.f{
    display: flex;
    gap: 30px;
    margin-left: 80px;
    margin-top: 35px;
}

.container-7{
    background-color: rgb(43, 101, 101);
    height: 280px;
    display: flex;
}
.box8{
    padding-top: 70px;
    padding-left: 30px;
}
.box8a{
    margin-top: 20px;
}
.box8a img{
    width: 30px;
}

.box9 ul{
    list-style-type: none;
    margin-left: 270px;
    margin-top: 20px;
    line-height: 20px;
    color: white;
}
.box10 ul{
    list-style-type: none;
    margin-left: 250px;
    margin-top: 20px;
    line-height: 20px;
    color: white;
}
